@media (max-width: 993px) {
    .about2{
        font-size: 95px !important;
    }
}

@media (max-width: 667px) {
    .about2{
        font-size: 60px !important;
    }
}

@media (max-width: 462px) {
    .about2{
        font-size: 45px !important;
    }
}

@media (max-width: 416px) {
    .about2{
        font-size: 40px !important;
    }
}

@media (max-width: 369px) {
    .about2{
        font-size: 35px !important;
    }
}

@media (max-width: 280px) {
    .about2{
        font-size: 30px !important;
    }
}